<h2>Projects</h2>
<ul>
<% @projects.each do |project| %>
<li><%= link_to project.name, project %> 
	| <%= link_to 'Edit', edit_project_path(project)%>
	| <%= link_to 'Destory', project, method: :delete, data: {confirm: 'Are you sure?' } %>

</li>
<% end %>
</ul>