<h1>Users</h1>
<%= link_to 'New user', new_admin_user_path %>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user, [:admin, user] %> - <%= link_to 'Edit', edit_admin_user_path(user) %></li>
  <% end %>
</ul>